.content .chiefMedicalOfficer {
    width: 250px;
    height: 380px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.content .chiefMedicalOfficer .img {
    width: 250px;
    height: 300px;
    background: url(../img/personal/1.jpg) no-repeat;
    background-size: cover;
}

.content .chiefMedicalOfficer span {
    font-size: 15px;
    opacity: 0.7;
}

.content .personnel {
    width: 200px;
    height: 340px;
    margin-left: 42.5px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
}

.content .personnel .img {
    width: 200px;
    height: 250px;
}

.content .personnel span {
    font-size: 12px;
    opacity: 0.7;
}