.content .wrapperPersonalBlock .img {
    width: 250px;
    height: 350px;
    background: url(../img/personal/5.jpg) no-repeat;
    background-size: cover;
    float: left;
    margin: 9px 20px 20px 0;
}