@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic");

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic");
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
#carousel-wrapper {
  position: relative;
  width: 92%;
  margin: 30px auto 20px;
}
#carousel-wrapper .d-carousel ul li {
  background: none;
  background-color: #FFF;
  padding: 15px;
  width: 235px;
  text-align: center;
}
#carousel-wrapper .d-carousel ul li p {
  color: #aaa;
  font-size: 12px;
}
#carousel-wrapper .d-carousel ul li img {
  max-width: 100%;
  border-radius: 3px;
}
#carousel-wrapper .d-carousel ul li > a {
  height: 225px;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
}
#carousel-wrapper .d-carousel ul li > a div {
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 10px;
  background-color: #fff;
  padding: 4px 0px 4px 12px;
  text-align: center;
  width: 135px;
  font-size: 13px;
  border-radius: 25px;
  font-weight: 600;
  color: #18AAE4;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 0.2s;
}
#carousel-wrapper .d-carousel ul li > a:hover div {
  opacity: 1;
  bottom: 15px;
}
#carousel-wrapper .d-carousel ul li > a div:before {
  display: block;
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  background: url(../img/phone_icon.png) no-repeat;
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: 100%;
}
.jcarousel-direction-rtl {
  direction: rtl;
}
.d-carousel h4 {
  font-size: 14px;
  margin: 5px 0 -5px 0;
}
.d-carousel .jcarousel-container {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.d-carousel .jcarousel-item {
  width: 220px;
  height: 300px;
}
.d-carousel .jcarousel-container-horizontal {
  height: 325px;
  padding: 0 45px;
}
.d-carousel .jcarousel-item-horizontal {
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 11px;
}
.d-carousel .jcarousel-next-horizontal {
  position: absolute;
  top: 115px;
  right: 0px;
  margin-left: 3px;
  width: 24px;
  height: 41px;
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0.5;
  background: transparent url(../img/arrow_slider.png) no-repeat top left;
}
.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(../img/blog-arrows.jpg);
}
.d-carousel .jcarousel-prev-horizontal {
  position: absolute;
  top: 115px;
  left: 0px;
  margin-left: 3px;
  width: 24px;
  height: 41px;
  cursor: pointer;
  opacity: 0.5;
  background: transparent url(../img/arrow_slider.png) no-repeat top left;
}
.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(../img/blog-arrows.jpg);
}
.d-carousel .jcarousel-prev-horizontal:hover,
.d-carousel .jcarousel-next-horizontal:hover {
  opacity: 1;
}
body {
  background-color: #F0F4F4;
  font-family: Open Sans;
  font-weight: 400;
  padding: 20px;
}
input,
button,
textarea {
  list-style: none;
  outline: none;
  font-family: Open Sans;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content-wrapper {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}
#content-wrapper h1 {
  color: #466588;
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 30px 60px;
}
#content-wrapper header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}
#content-wrapper header .left-block {
  position: absolute;
  color: #9BB4D0;
  height: 80px;
  width: 600px;
  top: 35px;
  left: 50px;
  font-size: 14px;
  font-family: 'Roboto Slab';
}
#content-wrapper header .left-block img {
  height: 80px;
  float: left;
  margin-right: 25px;
}
#content-wrapper header .left-block span {
  color: #25A3D5;
  margin-top: 5px;
  font-size: 35px;
  font-weight: 600;
}
#content-wrapper header .right-block {
  position: absolute;
  color: #B1C5DA;
  top: 45px;
  right: 50px;
}
#content-wrapper header .right-block p {
  margin-top: 5px;
}
#content-wrapper header .right-block span {
  position: relative;
  font-size: 30px;
  padding: 0;
  font-weight: 600;
  color: #466588;
}
#content-wrapper header .right-block span:before {
  content: "";
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
  width: 30px;
  height: 30px;
  outline: 0;
  background: url("../img/phone.svg") no-repeat center;
}
#content-wrapper #main-nav {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  margin: 0;
  width: inherit;
  padding: 0 60px;
  border-bottom: 2px solid #EEF2F3;
}
#content-wrapper #main-nav ul li {
  float: left;
  padding: 0 1.84%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  vertical-align: middle;
  color: #647E9B;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}
#content-wrapper #main-nav ul li > a {
  color: #647E9B;
  text-decoration: none;
  cursor: pointer;
}
#content-wrapper #main-nav ul li:hover,
#content-wrapper #main-nav ul li.active {
  background-color: #F7FCFE;
  border-color: #25A3D5;
  cursor: pointer;
}
#content-wrapper #main-news {
  display: block;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
  margin-bottom: 50px;
}
#content-wrapper #main-news .last {
  display: block;
  float: left;
  background: url("../img/news/news_1.jpg") no-repeat center;
  background-size: cover;
  width: 60%;
  height: 500px;
  font-size: 35px;
  padding: 20px;
  box-sizing: border-box;
}
#content-wrapper #main-news .last p {
  line-height: 52px;
}
#content-wrapper #main-news .secondary {
  float: right;
  display: block;
  background-size: 100% cover;
  width: 40%;
  height: 250px;
  font-size: 20px;
  padding: 15px;
  box-sizing: border-box;
}
#content-wrapper #main-news p {
  margin: 0;
  position: absolute;
  bottom: 20px;
  padding: 30px 20px 10px;
  z-index: 5;
  line-height: 32px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
#content-wrapper #main-news a {
  color: #fff;
}
#content-wrapper #main-news .shadow {
  position: relative;
}
#content-wrapper #main-news .shadow:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 0, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 0, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 0, rgba(255, 255, 255, 0.1) 49%, rgba(0, 0, 0, 0.6) 100%);
  transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
#content-wrapper #main-news .shadow:hover:after {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  cursor: pointer;
}
#content-wrapper #main-news .shadow:hover p {
  bottom: 25px;
  cursor: pointer;
}
#content-wrapper #news {
  display: block;
  position: relative;
  height: 480px;
  padding-top: 20px;
  background-color: #F3FDFF;
  color: #466588;
}
#content-wrapper #news .item {
  display: block;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  color: #466588;
  width: 45%;
  height: 185px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
#content-wrapper #news .item:hover {
  background-color: #fff;
  margin-top: -10px;
  box-shadow: 0px 4px 10px 0px rgba(189, 202, 208, 0.56);
}
#content-wrapper #news .item:hover h4 {
  color: #1BB2EE;
}
#content-wrapper #news .item h4 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 10px 10px 0;
  transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
#content-wrapper #news .item img {
  display: block;
  float: left;
  min-height: 100%;
  height: 100%;
  width: 270px;
  margin-right: 20px;
}
#content-wrapper #map {
  display: block;
  width: 100%;
  height: 700px;
}
#content-wrapper .feedback {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 560px;
  padding-bottom: 2%;
  top: 5%;
  left: 5%;
  box-shadow: 0px 5px 20px 0px rgba(41, 74, 117, 0.2);
  border-radius: 6px;
  color: #6E87A2;
}
#content-wrapper .feedback .feedback-head {
  width: 100%;
  text-align: center;
  color: #abb8ca;
  padding: 25px;
  font-size: 14px;
  box-sizing: border-box;
}
#content-wrapper .feedback form {
  display: block;
  float: left;
  font-weight: 300;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
#content-wrapper .feedback form > div {
  display: block;
  float: left;
  width: 47%;
  margin-top: 5%;
}
#content-wrapper .feedback form > div span {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 100;
  color: #6E87A2;
}
#content-wrapper .feedback form > div:nth-child(1),
#content-wrapper .feedback form > div:nth-child(3) {
  margin-right: 6%;
}
#content-wrapper .feedback form > div:nth-child(2),
#content-wrapper .feedback form > div:nth-child(4) {
  width: 47%;
}
#content-wrapper .feedback form input {
  float: left;
  display: block;
  border: 1px solid #D4DBE4;
  border-radius: 5px;
  margin-top: 10px;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.2s;
}
#content-wrapper .feedback form input:focus,
#content-wrapper .feedback form textarea:focus {
  border-color: #6ac6ea;
}
#content-wrapper .feedback form label {
  float: left;
  font-size: 14px;
}
#content-wrapper .feedback form button {
  display: block;
  background-color: #18B1EE;
  border: 0;
  color: #fff;
  border-radius: 50px;
  width: 180px;
  padding: 13px 10px;
  cursor: pointer;
  float: none;
  font-size: 13px;
  margin: 0 auto;
  transition: all 0.2s;
}
#content-wrapper .feedback form button:hover {
  background-color: #2bc3ff;
}
#content-wrapper .feedback form textarea {
  border: 1px solid #D4DBE4;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
}
#content-wrapper .feedback form .form-group.textarea {
  width: 100%;
  margin-bottom: 25px;
}
#content-wrapper .personal {
  display: block;
  padding-top: 40px;
  padding-bottom: 10px;
}
#content-wrapper .feedback_map {
  display: block;
  position: relative;
}
#content-wrapper footer {
  background-color: #222222;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  width: 100%;
  padding: 20px 60px 30px 60px;
  color: #BDBDBD;
  overflow: auto;
}
#content-wrapper footer .about-site {
  display: block;
  width: 400px;
  font-weight: 300;
  float: left;
  margin-right: 80px;
  font-size: 13px;
}
#content-wrapper footer .numbers a {
  color: #BDBDBD;
}
#content-wrapper footer .about-site h4,
#content-wrapper footer .numbers h4 {
  font-size: 16px;
}
#content-wrapper footer .about-site p {
  line-height: 25px;
}
#content-wrapper footer .categories,
#content-wrapper footer .resources {
  display: block;
  float: left;
  margin-right: 80px;
}
#content-wrapper footer .categories li a,
#content-wrapper footer .resources li a,
#content-wrapper footer .numbers li {
  font-weight: 300;
  color: #BDBDBD;
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
}
#content-wrapper footer .categories li a:hover,
#content-wrapper footer .resources li a:hover {
  color: #F9F9F9;
}
#content-wrapper .content {
  display: block;
  width: 60%;
  margin: 0 auto 60px;
}
#content-wrapper .content p {
  line-height: 28px;
  text-align: justify;
}
#content-wrapper .content .wrapperPersonalBlock .img {
  width: 250px;
  height: 250px;
  background: url(../img/personal/5.jpg) no-repeat;
  background-size: cover;
  float: left;
  margin: 9px 40px 20px 0;
  border-radius: 100%;
}
#content-wrapper .content #content-wrapper .content .personnel:nth-child(1n) {
  margin-left: 5%;
}
#content-wrapper .content .chiefMedicalOfficer {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 20%;
}
#content-wrapper .content .chiefMedicalOfficer .img {
  width: 250px;
  height: 250px;
  background: url(../img/personal/1.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 6%;
  border-radius: 100%;
}
#content-wrapper .content .chiefMedicalOfficer span {
  font-size: 16px;
  opacity: 0.7;
}
#content-wrapper .content .personnel {
  width: 200px;
  height: 340px;
  margin-bottom: 5%;
  margin-right: 7%;
  text-align: center;
  float: left;
}
#content-wrapper .content .personnel .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 7%;
}
#content-wrapper .content .personnel span {
  font-size: 15px;
  opacity: 0.7;
}
#content-wrapper .content .personnel span:nth-child(3) {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
#content-wrapper .content .about-images-block {
  display: block;
  float: left;
  width: 35%;
}
#content-wrapper .content .wrapperPersonalBlock {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
#content-wrapper .content .personal-center-block {
  display: block;
  width: 785px;
  margin: 0 auto;
  margin-top: 10%;
}
#content-wrapper .clearfix {
  zoom: 1;
}
#content-wrapper .clearfix:before,
#content-wrapper .clearfix:after {
  content: "";
  display: table;
}
#content-wrapper .clearfix:after {
  clear: both;
}
