@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic");
@import "carousel.less";

body {
	background-color: #F0F4F4;
    font-family: Open Sans;
    font-weight: 400;
    padding: 20px;
}

input,button,textarea {
    list-style: none;
    outline: none;
    font-family: Open Sans;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content-wrapper {

    width: 100%;
    min-width: 1250px;
    border-radius: 5px;
    background-color: #fff;

	h1 {
	    color: #466588;
	    font-size: 32px;
	    font-weight: 500;
	    margin: 0 0 30px 60px;
	}

	header {

		display: block;
    	float: left;
    	width: 100%;

		.left-block {
			
			display: block;
			float: left;
		    color: #9BB4D0;
		    width: 600px;
		    font-size: 14px;
		    font-family: 'Roboto Slab';
		    margin: 50px 0 50px 70px;

			img {
			    height: 80px;
			    float: left;
			    margin-right: 25px;
			}

			span {
			    color: #25A3D5;
			    margin-top: 5px;
			    font-size: 35px;
			    font-weight: 600;
			}

		}

		.right-block {
		    color: #849bb3;
		    display: block;
		    float: right;
		    margin: 60px 70px 0 0;

			p {
			    margin-top: 5px;
			}

			span {
			    position: relative;
			    font-size: 30px;
			    padding: 0;
			    font-weight: 600;
			    color: #466588;
			}

			span:before {
			    content: "";
			    display: block;
			    float: left;
			    margin-right: 5px;
			    margin-top: 6px;
			    width: 30px;
			    height: 30px;
			    outline:0;
			    background: url("../img/phone.svg") no-repeat center;
			}

		}

	}

	#main-nav {
	    width: 100%;
	    display: block;
	    margin-bottom: 60px;
	    border-bottom: 1px solid #e9edf1;

		ul {	

			width: 1085px;
		    margin: 0px auto;
		    display: block;

			li {
			    float: left;
			    text-align: center;
			    vertical-align: middle;
			    color: #647E9B;
			    font-weight: 600;
			    border-bottom: 2px solid transparent;

				> a {
					display: block;
				    color: #647E9B;
				    text-decoration: none;
			    	cursor: pointer;
			    	padding: 15px 24px;
    				font-size: 14px;
				}
			}

			li:hover,li.active {
			    background-color: #F7FCFE;
			    border-color: #25A3D5;
			    cursor: pointer;
			}

		}

	}

	#main-news {
	    display: block;
	    width: 100%;
	    padding: 0 60px;
	    box-sizing: border-box;
	    color: #fff;
	    overflow: auto;
	    margin-bottom: 50px;

		.last {
		    display: block;
		    float: left;
		    background: no-repeat center;
		    background-size: cover;
		    width: 60%;
		    height: 500px;
		    font-size: 35px;
		    padding: 20px;
		    box-sizing: border-box;

			p {
		    	line-height: 52px;
			}

		}

		.secondary {
		    float: right;
		    display: block;
		    background-size: 100% cover;
		    width: 40%;
		    height: 250px;
		    font-size: 20px;
		    padding: 15px;
		    box-sizing: border-box;
		}

		p {
		    margin: 0;
		    position: absolute;
		    bottom: 20px;
		    padding: 30px 20px 10px;
		    z-index: 5;
		    line-height: 32px;
		    text-shadow: 0px 2px 3px rgba(0,0,0,0.50);
		    transition: 0.4s ease;
		    -o-transition: 0.4s ease;
		    -moz-transition: 0.4s ease;
		    -webkit-transition: 0.4s ease;
		}

		a {
		    color: #fff;
		}

		.shadow {
		    position: relative;
		}

		.shadow:after {
		    display: block;
		    content: "";
		    position: absolute;
		    top: 0; right: 0;
		    width: 100%; height: 100%;
		    background: -moz-linear-gradient(to bottom,rgba(255, 255, 255, 0.11) 0,rgba(255, 255, 255, 0.1) 49%,rgba(0, 0, 0, 0.6) 100%); 
		    background: -webkit-linear-gradient(to bottom,rgba(255, 255, 255, 0.11) 0,rgba(255, 255, 255, 0.1) 49%,rgba(0, 0, 0, 0.6) 100%); 
		    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.11) 0,rgba(255, 255, 255, 0.1) 49%,rgba(0, 0, 0, 0.6) 100%);
		    transition: 0.4s ease;
		    -o-transition: 0.4s ease;
		    -moz-transition: 0.4s ease;
		    -webkit-transition: 0.4s ease;
		}

		.shadow:hover:after {
		    background-color: rgba(0,0,0,0.1);
		    transition: 0.2s ease;
		    -o-transition: 0.2s ease;
		    -moz-transition: 0.2s ease;
		    -webkit-transition: 0.2s ease;
		    cursor: pointer;
		}

		.shadow:hover p {
		    bottom: 25px;
		    cursor: pointer;
		}

	}

	#news {

	    display: block;
	    float: left;
	    position: relative;
	    padding-top: 20px;
	    background-color: #F3FDFF;
	    color: #466588;

		.item {
		    display: block;
		    float: left;
		    position: relative;
		    padding: 10px;
		    box-sizing: border-box;
		    color: #466588;
		    width: 46%;
		    margin-left: 3%;
		    margin-bottom: 2%;
		    height: 185px;
		    font-size: 14px;
		    cursor: pointer;
		    transition: 0.4s ease;
		    -o-transition: 0.4s ease;
		    -moz-transition: 0.4s ease;
		    -webkit-transition: 0.4s ease;
		}

		.item:hover {
		    background-color: #fff;
		    transform: translateY(-4px);
		    box-shadow: 0px 4px 10px 0px rgba(189,202,208,0.56);
		}

		.item:hover h4 > a{
		    color: #1BB2EE;
		}

		.item {

			h4 {
			    margin-top: 0;
			    font-size: 18px;
			    font-weight: 600;
			    margin-bottom: 15px;
			    padding: 10px 10px 0;
				
				a {
					color: #466588;
					text-decoration: none;
					transition: 0.4s ease;
				    -o-transition: 0.4s ease;
				    -moz-transition: 0.4s ease;
				    -webkit-transition: 0.4s ease;
				}

			}

			img {
			    display: block;
			    float: left;
			    min-height: 100%;
			    height: 100%;
			    width: 200px;
			    margin-right: 20px;
			}

		}

	}

	#map {
	    display: block;
	    width: 100%;
	    height: 700px;
	}

	.feedback {

	    display: block;
	    position: absolute;
	    background-color: #fff;
	    width: 560px;
	    padding-bottom: 2%;
	    top: 5%;
	    left: 5%;
	    box-shadow: 0px 5px 20px 0px rgba(41,74,117,0.20);
	    border-radius: 6px;
	    color: #6E87A2;

		.feedback-head {
		    width: 100%;
		    text-align: center;
		    color: #abb8ca;
		    padding: 25px;
		    font-size: 14px;
		    box-sizing: border-box;
		}

		form {
		    display: block;
		    float: left;
		    font-weight: 300;
		    width: 100%;
		    padding: 0 50px;
		    box-sizing: border-box;

		    > div {
		        display: block;
		        float: left;
		        width: 47%;
		        margin-top: 5%;

		        span {
		            display: inline-block;
		            font-size: 30px;
		            margin-bottom: 10px;
		            font-weight: 100;
		            color: #6E87A2;
		        }

		    }

		    > div:nth-child(1),> div:nth-child(3) {
		    margin-right: 6%;
		    }

		    > div:nth-child(2),> div:nth-child(4) {
		        width: 47%;
		    }

		    input {
		        float: left;
		        display: block;
		        border: 1px solid #D4DBE4;
		        border-radius: 5px;
		        margin-top: 10px;
		        padding: 13px; 
		        width: 100%;
		        box-sizing: border-box;
		        font-size: 14px;
		        transition: all 0.2s;
		    }

		    input:focus, textarea:focus {
		        border-color: #6ac6ea;
		    }

		    label {
		        float: left;
		        font-size: 14px;
		    }

		    button {
		        display: block;
		        background-color: #18B1EE;
		        border: 0;
		        color: #fff;
		        border-radius: 50px;
		        width: 180px;
		        padding: 13px 10px;
		        cursor: pointer;
		        float: none;
		        font-size: 13px;
		        margin: 0 auto;
		        transition: all 0.2s;
		    }

		    button:hover {
		        background-color: #2bc3ff;
		    }

		    textarea {
		        border: 1px solid #D4DBE4;
		        border-radius: 5px;
		        height: 150px;
		        width: 100%;
		        margin-top: 10px;
		        padding: 10px;
		        box-sizing: border-box;
		        resize: none;
		        font-size: 14px;
		    }

		    .form-group.textarea {
		        width: 100%;
		        margin-bottom: 25px;
		    }

		}

	}

	.personal {
		display: block;
		float: left;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.feedback_map {
		display: block;
		float: left;
		width: 100%;
		position: relative;
	}

	footer {
	    background-color: #222222;
	    box-sizing: border-box;
	    border-radius: 0 0 5px 5px;
	    width: 100%;
	    padding: 20px 60px 30px 60px;
	    color: #BDBDBD;
	    overflow: auto;

		.about-site {
		    display: block;
		    width: 400px;
		    font-weight: 300;
		    float: left;
		    margin-right: 80px;
		    font-size: 13px;
		}

		.numbers a {
		    color: #BDBDBD;
		}

		.about-site h4, .numbers h4 {
		    font-size: 16px;
		}

		.about-site p {
		    line-height: 25px;
		}

		.categories, .resources {
		    display: block;
		    float: left;
		    margin-right: 80px;
		}

		.categories li a, .resources li a, .numbers li {
		    font-weight: 300;
		    color: #BDBDBD;
		    text-decoration: none;
		    font-size: 13px;
		    line-height: 25px;
		}

		.categories li a:hover, .resources li a:hover {
		    color: #F9F9F9;
		}

	}

	.content {

	    display: block;
	    width: 1210px;
	    margin: 0 auto 60px;

		p {
			line-height: 28px;
			text-align: justify;
		}
		//New css----------------------------------------------
		.personal-center-block {
			display: block;
			width: 800px;
			height: 1520px;
			margin: 0 auto;
			margin-top: 50px;
			
			.personnel-line {
				width: 90%;
				height: 350px;
				margin: 0 auto;
			}

			.personnel {
				width: 200px;
				height: 340px;
				margin-bottom: 5%;
				margin-right: 60px;
				text-align: center;
				float: left;

				span {
					font-size: 15px;
					opacity: 0.7;
				}

				span:nth-child(3) {
					font-weight: 700;
					margin-top: 10px;
					margin-bottom: 10px;
					display: block;
				}

				.img {
					width: 205px;
					height: 205px;
					border-radius: 100%;
					margin-bottom: 7%;
					background: #bdc3c7;
					position: relative;
					transition: 0.3s ease-in;
				}

				.img:hover {
					transform: translateY(-4px);
					box-shadow: 0 7px 10px 0 #666;
				}
			}

			.personnel:nth-child(3n) {
				margin: 0;
			}
		}

		.chiefMedicalOfficer {
			width: 250px;
			height: 350px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 80px;

			.img {
				position: relative;
				width: 250px;
				height: 250px;
				background: url(../img/personal/1.jpg) no-repeat;
				background-size: cover;
				margin-bottom: 6%;
				border-radius: 100%;
				background-color: #bdc3c7;
				transition: 0.3s ease-out;
			}

			.img:hover {
				transform: translateY(-4px);
  				box-shadow: 0 7px 10px 0 #666;
			}

			span {
				font-size: 16px;
				opacity: 0.7;
			}

			span:nth-child(3) {
				font-weight: 700;
			}
		}

		.wrapperButtons {
			width: 1160px;
			height: 55px;
			margin: 0 auto;
			margin-bottom: 40px;
			font-size: 13px;

			.wrapperDownloadFile {
				position: relative;
				width: 210px;
				height: 55px;
				background: #7dbebd;
				border-radius: 5px;
				color: white;
				box-sizing: border-box;
				cursor: pointer;
				float: left; 
				margin-right: 20px;
				margin-bottom: 10px;
				overflow: hidden;

				.wrapperText {
					width: 155px;
					height: 55px;
					padding-top: 15px;
					text-align: center;
					float: left;
					transform: translateX(25px);
					transition: 0.5s ease-in;

					span {
						vertical-align: middle;
					}
				}

				.largeText {
					padding-top: 6px;
				}

				.wrapperImgDownload {
					float: right;
					width: 55px;
					height: 55px;
					background: #20a7dc;
					border-radius: 0 5px 5px 0;
					box-sizing: border-box;
					padding-top: 12px;
					padding-right: 16px;
					transform: translateX(55px);
					transition: 0.5s ease-in;

					.imgDownload {
						width: 22px;
						height: 30px;
						background: url(../img/btn-download.png) no-repeat;
						background-size: cover;
						float: right;
					}
				}
			}

			.wrapperDownloadFile:hover {
				.wrapperText {
					transform: translateX(0);
				}

				.wrapperImgDownload {
					transform: translateX(0);
				}
			}
		}

		.wrapperLisenses {
			width: 100%;
			height: 260px;
			margin-bottom: 20px;
			clear: both;

			.lisens {
				width: 180.44px;
				height: 260px;
				float: left;
				margin-right: 20px;
				margin-bottom: 20px;
			}
		}

		#small {
			padding-left: 40px;
		}

		#average {
			padding-left: 60px;
		}

		#large {
			padding-left: 100px;
		}

		#headerTextCenter {
			text-align: center;
		}

		.wrapper-svg {
			width: 71%;
			height: 400px;
			margin: 0 auto;

			rect {
				width: 250px;
				height: 140px;
				fill: #2bc3ff;
			}

			.substation {
				width: 250px;
				height: 100px;
				fill: #2bc3ff;
			}

			text {
				font-size: 20px;
				fill: white;
			}

			.address {
				font-size: 12px;
			}

			polygon {
				fill: #2bc3ff;
			}

			.leftArrow {
				transform: rotate(35deg);
			}

			.rightArrow {
				transform: rotate(-35deg);
			}
		}

		.wrapperPersonalBlock {
			display: block;
			float: left;
			width: 100%;
			margin-bottom: 50px;

			.img {
				width: 250px;
				height: 250px;
				background: url(../img/personal/5.jpg) no-repeat;
				background-size: cover;
				float: left;
				margin: 9px 40px 20px 0;
				border-radius: 100%;
			}
		}
	}
}