<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>История скорой помощи</title>
    
    <link rel="stylesheet" href="css/style.css" />
    </head>

<body>

    <div id="content-wrapper">
    
        <header>
        
            <div class="left-block">
                <img src="img/logo.png" />
                <div>
                    <span>ГБУ г. Назрань</span><br />
                    Государственное Бюджетное Учреждение "Республиканская Станция Медицинской Скорой Помощи"
                </div>
            
            </div>
            
            <div class="right-block">
            
                <span>8 (8732) 22-72-25</span>
                <p>386140 РИ г. Назрань, а/о Насыр-Корт, ул. Бакинская,7 "а"</p>
            
            </div>
        
            <nav id="main-nav">
                
                <ul>
                
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li class="active"><a href="/history">История скорой</a></li>
                    <li><a href="/structura">Структура РССМП</a></li>
                    <li><a href="/personnel">Персонал РССМП</a></li>
                    <li><a href="/kadrovaya">Отдел кадров</a></li>
                    <li><a href="/vakansii">Вакансии</a></li>
                    <li><a href="/rekvizit">Реквизиты</a></li>
                
                </ul>
            
            </nav>
        
        </header>
        <div class="content">

            <h3>Введение</h3>

            <p>При возникновении экстренных ситуаций, требующих оказания незамедлительной медицинской помощи, 
                а также при внезапных обострениях хронических заболеваний больным оказывается скорая 
                медицинская помощь. Служба скорой медицинской помощи представляет государственную систему, 
                охватывающую всю страну и располагающую разветвленной сетью станций, подстанций, 
                больниц скорой помощи, санитарной авиации и научно-исследовательских институтов.</p>

            <p>Из эпохи раннего средневековья (XIV век) идет идея создания организации, 
                оказывающей первую помощь страждущим. На дорогах, ведущих в Иерусалим, 
                были организованы дома для оказания помощи путникам. В Голландии в 1417 г. 
                была организована служба для оказания помощи тонущим
                на каналах страны. Первая станция скорой помощи была создана в Вене в 1881 г.</p>
            
            <h3>Скорая помощь в царсской России</h3>

            <p>Проект создания российской скорой медицинской помощи был представлен 
                городским властям штаб-доктором Г.Л. Аттенгофером в 1818 г. и носил название 
                "Проект заведения в Санкт-Петербурге для спасения обмирающих скоропостижно или подвергнувших 
                жизнь опасности". Проект содержал основные положения об организации службы и инструкции 
                по оказанию первой доврачебной помощи пострадавшим. Одобрения властей не последовало.</p>

            <p>В 1844 г. Ф.П. Гаазу удалось открыть "Полицейскую больницу для бесприютных" в Москве. 
                В ее задачи входило оказание бесплатной медицинской помощи при внезапных заболеваниях. 
                Своим транспортом больница не располагала и оказывала помощь только доставленным в покои.</p>

            <p>В 1896 г. проф. Н.А. Вельяминов разработал проект учреждения для оказания первой 
                медицинской помощи в Санкт-Петербурге. В 1898 г. в Москве были организованы первые 
                3 станции скорой помощи. На каждой станции были конные кареты, носилки, лекарственные 
                средства и перевязочный материал. В 1899 г. в Петербурге были открыты 5 станций, 
                в 1902 г. в Киеве и еще в 16 городах России. Все станции создавались и содержались 
                на деньги частных лиц; они обслуживались санитарами. На добровольных началах работали 
                50 врачей Петербурга в 1912 г.</p>

            <h3>Скорая помощь дореволюционной России</h3>

            <p>В 1917 г. при Военно-революционном комитете Петроградского совета рабочих 
                и солдатских депутатов был создан медико-санитарный отдел для оказания 
                неотложной медицинской помощи рабочим Петрограда. Под руководством Н.А. Семашко, З.П. Соловьева 
                были разработаны основные организационные формы работы учреждений скорой медицинской помощи. 
                Скорая медицинская помощь складывалась как служба, оказывающая помощь пострадавшим и тяжелобольным 
                только в общественных местах, на улицах, на предприятиях и в учреждениях.</p>

            <p>В 1919 г. на базе Шереметьевской больницы Москвы была открыта станция скорой 
                медицинской помощи, которая в дальнейшем была преобразована в Московский НИИ 
                скорой помощи им. Н.В. Склифосовского. В 1932 г. был организован Ленинградский 
                НИИ скорой помощи, позднее получивший имя своего основателя выдающегося хирурга И.И. Джанелидзе. 
                Эти институты и сейчас являются центрами организации и развития службы скорой помощи.</p>

            <p>В довоенный период росло количество станций скорой помощи. В 1924 г. в стране было 33 станции, 
                в 1940 г. уже 1275. Параллельно росло число больниц, укреплялась их материально-техническая база, 
                совершенствовались организационные формы работы.</p>

            <h3>Послевоенная скорая помощь</h3>

            <p>Мощным толчком к дальнейшему развитию службы скорой помощи стало создание специализированных бригад. 
                Первыми были организованы психиатрические бригады: в 1928 г. в Москве, затем в 1931 г. в Ленинграде. 
                Скорая помощь стала обеспечиваться современным транспортом. Широкое распространение специализированные 
                бригады получили в конце 50-хначале 60-х гг. В 1957-1958 гг. в Ленинграде была создана специализированная 
                бригада для оказания помощи больным с тяжелыми травмами и шоком. Бригады были оснащены специальной 
                аппаратурой и необходимым набором медикаментов и перевязочных средств. Опыт противошоковых специализированных 
                бригад позволил организовать и другие узкопрофильные специализированные бригады такие, как кардиологические, 
                токсикологические, педиатрические. Благодаря этому специализированная помощь была максимально приближена к 
                пациенту, что не могло не сказаться на результатах лечения.</p>

            <p>В 1970-1976 гг. в стране была проведена реорганизация скорой помощи объединены в единую 
                две параллельно существовавшие службы скорой помощи:<br/>
                1) оказывавшие экстренную медицинскую помощь на улице, в общественнх местах и учреждениях;<br/> 
                2) пункты неотложной помощи при поликлиниках, выполнявшие вызовы к больным на дом (в основном в вечернее и ночное время).</p>

            <p>В 1968 г. определена дальнейшая стратегия совершенствования скорой помощи 
                населению создание больниц скорой помощи, объединенных со станциями скорой помощи. 
                Такая реорганизация позволила улучшить пока-затели работы выездных бригад и снизить смертность.</p>

            <p>Организуются бригады интенсивной терапии, основной задачей которых является 
                оказание высококвалифицированной экстренной помощи различным категориям тяжелобольных и пострадавших.</p>

            <h3>Современная скорая помощь</h3>

            <p>Современный этап развития скорой медицинской помощи характеризуется дальнейшим совершенствованием 
            службы скорой медицинской помощи. Скорая помощь превратилась в мощную, достаточно хорошо оснащенную 
            службу, в которой работает около 20 тыс. врачей и свыше 70 тыс. средних медицинских работников 
            на 3000 станций и отделений скорой медицинской помощи. Ежегодно служба скорой медицинской помощи 
            выполняет от 46 до 48 млн вызовов, оказывая медицинскую помощь более чем 50 млн граждан.</p>

            <p>Основополагающим документом, которым руководствуются в работе сотрудники станций 
            и отделений скорой медицинской помощи, является Приказ Министерства здравоохранения Российской Федерации от 26.03.1999 г.
            №100 "О совершенствовании организации скорой медицинской помощи населению Российской Федерации" (см. Прил. 1).</p>

            <p>Дальнейшее повышение качества скорой медицинской помощи населению зависит от 
            слаженности работы многих учреждений, от преемственности в работе службы СМП и 
            поликлиник с позиций единой доктрины лечебно-диаг-ностической деятельности при оказании помощи больным, 
            а также от укрепления материально-технической базы самих станций СМП, использования в работе стандартов 
            оказания скорой медицинской помощи.</p>      
        </div>
        
        <footer>
        
            <div class="about-site">
                <h4>О нас</h4>
                <p>Скорая медицинская помощь г. Назрань - вид и система экстренной медицинской помощи больным и пострадавшим при угрожающих жизни и здоровью человека состояниях, травмах, оказываемой в местах происшествия: на улице, общественных местах, учреждениях, на дому и в пути следования, при доставке заболевшего в стационар.</p>
            </div>
            
            <ul class="categories">
                <li><h4>Категории</h4></li>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/rezume">Резюме</a></li>
                <li><a href="/history">История</a></li>
                <li><a href="/personnel">Персонал</a></li>
                <li><a href="/vakansii">Вакансии</a></li>
            </ul>
            
            <ul class="resources">
                <li><h4>Ресурсы РИ</h4></li>
                <li><a href="http://www.ingushetia.ru/">Официальный сайт президента</a></li>
                <li><a href="http://www.pravitelstvori.ru/">Правительство</a></li>
                <li><a href="http://www.parlamentri.ru/">Народное собрание</a></li>
                <li><a href="http://minzdravri.ru/">Министерство здравоохранения</a></li>
                <li><a href="http://06reg.roszdravnadzor.ru/">Орган Росздравнадзора</a></li>
                <li><a href="http://www.pfrf.ru/ot_ingush/">Пенсионный фонд РФ</a></li>
            </ul>
            
            <ul class="numbers">
                <li><h4>Резервные номера</h4></li>
                <li>8 (8732) 22-72-25</li>
                <li>8 (8732) 22-24-10</li>
                <li><br />Сайт разработан студией "<span style="font-weight: 600;"><a href="http://ileet.ru">iLeet</a></span>"</li>
            </ul>
        
        </footer>
    </div>
</body>