<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>Вакансии</title>
    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/styleHRD.css" />
    </head>

<body>

    <div id="content-wrapper">
    
        <header>
        
            <div class="left-block">
                <img src="img/logo.png" />
                <div>
                    <span>ГБУ г. Назрань</span><br />
                    Государственное Бюджетное Учреждение "Республиканская Станция Медицинской Скорой Помощи"
                </div>
            
            </div>
            
            <div class="right-block">
            
                <span>8 (8732) 22-72-25</span>
                <p>386140 РИ г. Назрань, а/о Насыр-Корт, ул. Бакинская,7 "а"</p>
            
            </div>
        
            <nav id="main-nav">
                
                <ul>
                
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/history">История скорой</a></li>
                    <li><a href="/structura">Структура РССМП</a></li>
                    <li><a href="/personnel">Персонал РССМП</a></li>
                    <li><a href="/kadrovaya">Отдел кадров</a></li>
                    <li class = "active"><a href="/vakansii">Вакансии</a></li>
                    <li><a href="/rekvizit">Реквизиты</a></li>
                
                </ul>
            
            </nav>
        
        </header>
        <div class="content">
            <h3>Руководство ГБУ "Республиканская станция скорой медицинской помощи" проводит набор 
            на государоственную службу по специальностям:</h3>
            <p>1. Врач-педиатр</p>
            <p>2. Врач-кардиолог</p>
            <p>3. Выездной врач скорой помощи</p>

            <p>От вас требуется  ответственное отношение к выбранной специальности, 
                умение оказывать медицинскую  помощь больным и пострадавшим.
            Вас ожидает интересная работа, позволяющая приобрести большой профессиональный опыт, 
            многопрофильная медицинская практика.<p>
            <h3>СВЕДЕНИЯ О ДОЛЖНОСТЯХ:</h3>
                    <h5 style ="padding-left: 40px">- ВРАЧ СКОРОЙ МЕДИЦИНСКОЙ ПОМОЩИ</h5>

                        <h5>Требования к квалификации:</h5>

            <p>Высшее профессиональное  образование по специальности "Лечебное дело" или "Педиатрия".</p>

            <p>Интернатура или (и) ординатура  по специальности "Скорая медицинская помощь" или профессиональная  
                переподготовка по специальности "Скорая медицинская помощь" при наличии послевузовского  
                профессионального образования по одной из специальностей:</p>     
                    <p style ="padding-left: 40px">"Анестезиология-реаниматология"</p>
                    <p style ="padding-left: 40px">"Общая врачебная практика (семейная медицина)"</p>
                    <p style ="padding-left: 40px">"Терапия"</p>
                    <p style ="padding-left: 40px">"Педиатрия"</p>
                    <p style ="padding-left: 40px">"Хирургия"</p>

            <p>Сертификат специалиста по специальности "Скорая медицинская помощь".
            Основные функции:<p>
            <p style = "padding-left: 40px">Оказание скорой медицинской помощи взрослому и детскому населению 
                при состояниях, угрожающих здоровью или жизни пациентам, вызванных 
                внезапными заболеваниями, несчастными случаями, травмами и отравлениями, 
                как на месте происшествия, так и в пути следования в стационар.</p>
            <p style = "padding-left: 40px">Условия труда:</p>
            <p style = "padding-left: 60px">-Врачебные бригады обеспечены современными комфортабельными 
                санитарными автомобилями, медицинской аппаратурой и радиосвязью.</p>
            <p style = "padding-left: 60px">-Бригады работают по сменному графику.</p>
            <p style = "padding-left: 40px">-Бригады располагаются на подстанциях во всех районах города, 
                на которых созданы все условия для полноценной работы и отдыха персонала.</p>
            <p style = "padding-left: 40px">Оплата труда.</p>
            <p style = "padding-left: 40px">Предоставляемые отпуска:</p>
            <p style = "padding-left: 60px">Основной ежегодный оплачиваемый отпуск 28 календарных дней;</p>
            <p style = "padding-left: 60px">Ежегодные дополнительные оплачиваемые отпуска:</p>
            <p style = "padding-left: 100px">а) за работу с вредными и (или) опасными условиях труда по 
                занимаемой должности;</p>
            <p  style = "padding-left: 100px">б) за непрерывный стаж работы в составе выездной 
                бригады свыше 3-х лет - 3 календарных дня.</p>
                
            <p>Перечень документов для врачей:</p>
            <p style = "padding-left: 40px">1.  Диплом об образовании (копия);</p>
            <p style = "padding-left: 40px">2. Сертификат специалиста скорой медицинской помощи, категория, удостоверение (копия);</p>
            <p style = "padding-left: 40px">3. Паспорт (копия);</p>
            <p style = "padding-left: 40px">4. ИНН (копия);</p>
            <p style = "padding-left: 40px">5. СНИЛС (копия);</p>
            <p style = "padding-left: 40px">6. Трудовая книжка;</p>
            <p style = "padding-left: 40px">7. Военный билет;</p>
            <p style = "padding-left: 40px">8. Фотографии (2 шт.)</p>
            <p style = "padding-left: 40px">9. Справка с места жительства</p>
            <p style = "padding-left: 40px">10. Справка о судимости;</p>
            <p style = "padding-left: 40px">11. Санитарная книжка.</p>
            
            <h4>Наш адрес:  Республика Ингушетия, г. Назрань, а/о Насыр-Корт, ул. Бакинская, 7"а".(трасса Ростов-Баку)
            Отдел кадров 8 (8732) 22 24 43</h4>
        </div>
        
        <footer>
        
            <div class="about-site">
                <h4>О нас</h4>
                <p>Скорая медицинская помощь г. Назрань - вид и система экстренной медицинской помощи больным и пострадавшим при угрожающих жизни и здоровью человека состояниях, травмах, оказываемой в местах происшествия: на улице, общественных местах, учреждениях, на дому и в пути следования, при доставке заболевшего в стационар.</p>
            </div>
            
            <ul class="categories">
                <li><h4>Категории</h4></li>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/rezume">Резюме</a></li>
                <li><a href="/history">История</a></li>
                <li><a href="/personnel">Персонал</a></li>
                <li><a href="/vakansii">Вакансии</a></li>
            </ul>
            
            <ul class="resources">
                <li><h4>Ресурсы РИ</h4></li>
                <li><a href="http://www.ingushetia.ru/">Официальный сайт президента</a></li>
                <li><a href="http://www.pravitelstvori.ru/">Правительство</a></li>
                <li><a href="http://www.parlamentri.ru/">Народное собрание</a></li>
                <li><a href="http://minzdravri.ru/">Министерство здравоохранения</a></li>
                <li><a href="http://06reg.roszdravnadzor.ru/">Орган Росздравнадзора</a></li>
                <li><a href="http://www.pfrf.ru/ot_ingush/">Пенсионный фонд РФ</a></li>
            </ul>
            
            <ul class="numbers">
                <li><h4>Резервные номера</h4></li>
                <li>8 (8732) 22-72-25</li>
                <li>8 (8732) 22-24-10</li>
                <li><br />Сайт разработан студией "<span style="font-weight: 600;"><a href="http://ileet.ru">iLeet</a></span>"</li>
            </ul>
        
        </footer>
    </div>
</body>