<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>Персонал РССМП</title>
    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/stylePersonnel.css" />
    <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
    <script>
        //Вставляет фото персонала в нужный блок
        $('document').ready(function () {
            for(var i = 0; i < 9; i++) {
                $('.img'+(i+1)).css({'background': 'url(img/personal/'+(i+2)+'.jpg) no-repeat', 'background-size':'cover'});
            }
        });
    </script>
    </head>

<body>

    <div id="content-wrapper">
    
        <header>
        
            <div class="left-block">
                <img src="img/logo.png" />
                <div>
                    <span>ГБУ г. Назрань</span><br />
                    Государственное Бюджетное Учреждение "Республиканская Станция Медицинской Скорой Помощи"
                </div>
            
            </div>
            
            <div class="right-block">
            
                <span>8 (8732) 22-72-25</span>
                <p>386140 РИ г. Назрань, а/о Насыр-Корт, ул. Бакинская,7 "а"</p>
            
            </div>
        
            <nav id="main-nav">
                
                <ul>
                
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/history">История скорой</a></li>
                    <li><a href="/structura">Структура РССМП</a></li>
                    <li class="active"><a href="/personnel">Персонал РССМП</a></li>
                    <li><a href="/kadrovaya">Отдел кадров</a></li>
                    <li><a href="/vakansii">Вакансии</a></li>
                    <li><a href="/rekvizit">Реквизиты</a></li>
                
                </ul>
            
            </nav>
        
        </header>
        <div class="content">

            <div class="personal-center-block">

                <div class="chiefMedicalOfficer">
                    <div class="img"><div class = "border-img"></div></div>
                    <span>Главный врач<br/></span>
                    <span>Оздоев А.Б.<br/></span> 
                    <span>тел.:22-24-10, 22-24-06<br/></span>   
                </div>
                <div class = "personnel-line">
                    <div class = "personnel">
                        <div class = "img img1"><div class = "border-img"></div></div>
                        <span>Заметитель главного врачаппо орг. и метод. работе<br/></span>
                        <span>Газгиреев Б.Ш.<br/></span> 
                        <span>тел.: 22-24-07<br/></span>   
                    </div>  
                    <div class = "personnel">
                        <div class = "img img2"><div class = "border-img"></div></div>
                        <span>Заместитель главного врача по экономической части<br/></span>
                        <span>Аушев Х.А.<br/></span> 
                        <span>тел.: 22-70-53<br/></span>   
                    </div>  
                    <div class = "personnel">
                        <div class = "img img3"><div class = "border-img"></div></div>
                        <span>Главный бухгалтер<br/></span>
                        <span>Бахтиева Т.Х.<br/></span> 
                        <span>тел.: 22-24-11<br/></span>   
                    </div>  
                </div>
                <div class = "personnel-line">
                    <div class = "personnel">
                        <div class = "img img4"><div class = "border-img"></div></div>
                        <span>Начальник ОК<br/></span>
                        <span>Гайдаборшева Л.А.<br/></span> 
                        <span>тел.: 22-24-43<br/></span>   
                    </div> 
                    <div class = "personnel">
                        <div class = "img img5"><div class = "border-img"></div></div>
                        <span>Заместитель главного врача по ГО и ЧС<br/></span>
                        <span>Эсиев У.Я.<br/></span> 
                        <span>тел.: 8(962)641-00-78<br/></span>   
                    </div> 
                    <div class = "personnel">
                        <div class = "img img6"><div class = "border-img"></div></div>
                        <span>Начальник юридического отдела<br/></span>
                        <span>Сакалов А.Ю.<br/></span> 
                        <span>тел.: 8 928 733-99-39<br/></span>   
                    </div> 
                </div>
                <div class = "personnel-line">
                    <div class = "personnel">
                        <div class = "img img7"><div class = "border-img"></div></div>
                        <span>Заместитель главного врача по медицинской части<br/></span>
                        <span>Аушева Р.Р.<br/></span> 
                        <span>тел.: 22-24-16<br/></span>   
                    </div> 
                    <div class = "personnel">
                        <div class = "img img8"><div class = "border-img"></div></div>
                        <span>Старший врач<br/></span>
                        <span>Дзаурова Н.Х.<br/></span> 
                        <span>тел.: 8 928 918-37-78<br/></span>   
                    </div> 
                    <div class = "personnel">
                        <div class = "img img9"><div class = "border-img"></div></div>
                        <span>Старший фельдшер<br/></span>
                        <span>Мальсагова П.С.<br/></span> 
                    </div> 
                </div>
            </div>
        </div>
        
        <footer>
        
            <div class="about-site">
                <h4>О нас</h4>
                <p>Скорая медицинская помощь г. Назрань - вид и система экстренной медицинской помощи больным и пострадавшим при угрожающих жизни и здоровью человека состояниях, травмах, оказываемой в местах происшествия: на улице, общественных местах, учреждениях, на дому и в пути следования, при доставке заболевшего в стационар.</p>
            </div>
            
            <ul class="categories">
                <li><h4>Категории</h4></li>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/rezume">Резюме</a></li>
                <li><a href="/history">История</a></li>
                <li><a href="/personnel">Персонал</a></li>
                <li><a href="/vakansii">Вакансии</a></li>
            </ul>
            
            <ul class="resources">
                <li><h4>Ресурсы РИ</h4></li>
                <li><a href="http://www.ingushetia.ru/">Официальный сайт президента</a></li>
                <li><a href="http://www.pravitelstvori.ru/">Правительство</a></li>
                <li><a href="http://www.parlamentri.ru/">Народное собрание</a></li>
                <li><a href="http://minzdravri.ru/">Министерство здравоохранения</a></li>
                <li><a href="http://06reg.roszdravnadzor.ru/">Орган Росздравнадзора</a></li>
                <li><a href="http://www.pfrf.ru/ot_ingush/">Пенсионный фонд РФ</a></li>
            </ul>
            
            <ul class="numbers">
                <li><h4>Резервные номера</h4></li>
                <li>8 (8732) 22-72-25</li>
                <li>8 (8732) 22-24-10</li>
                <li><br />Сайт разработан студией "<span style="font-weight: 600;"><a href="http://ileet.ru">iLeet</a></span>"</li>
            </ul>
        
        </footer>
    </div>
</body>